<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807078039001-8r39t8j5au0ten728j9t6796v52u8ds2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807078039001-8r39t8j5au0ten728j9t6796v52u8ds2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807078039001-8ph3v6v5bticd7aieguvv72fm37l5bai.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApZfNF9SpjgjS6YyhHJjK0s_dQJJ00X0c</string>
	<key>GCM_SENDER_ID</key>
	<string>807078039001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graphhene.quikk.customer</string>
	<key>PROJECT_ID</key>
	<string>quikk-7c27c</string>
	<key>STORAGE_BUCKET</key>
	<string>quikk-7c27c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807078039001:ios:60d19dafa7fb9603d9ddc8</string>
</dict>
</plist>